extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br

    h2 Agregar bicicleta

    br
    br

    form(action='/bicicletas/create' method='post')
        label(for='id') ID:
        br
        input#id(type='text' name='id')
        br
        br
        label(for='color') Color:
        br
        input#color(type='text' name='color')
        br
        br
        label(for='modelo') Modelo:
        br
        input#modelo(type='text' name='modelo')
        br
        br
        label(for='lat') Latitud:
        br
        input#modelo(type='text' name='lat')
        br
        br
        label(for='lng') Longitud:
        br
        input#modelo(type='text' name='lng')
        br
        br
        input.btn(type='submit' value='Agregar')