extends ../layout

block content
    a(scope='col' href='/bicicletas/create') Agregar bicicleta
    br
    br
    a(scope='col' href='../#projects') Volver al mapa
    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
        tboby
            each bici in bicis
                tr
                    td(scope='row')
                        = 
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td
                        a(href= 'bicicletas/' + bici.code + '/update') Editar
                    td  
                        form.inline(method='post' action='bicicletas/' + bici.code + '/delete')
                            input(type='hidden' name='id' value= bici.code)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn') Eliminar