extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br

    h2 Actualizar bicicleta

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='id') ID:
        br
        input#id(type='text' name='id' value=bici.id)
        br
        br
        label(for='color') Color:
        br
        input#color(type='text' name='color' value=bici.color)
        br
        br
        label(for='modelo') Modelo:
        br
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        br
        label(for='lat') Latitud:
        br
        input#modelo(type='text' name='lat' value=bici.ubicacion[0])
        br
        br
        label(for='lng') Longitud:
        br
        input#modelo(type='text' name='lng' value=bici.ubicacion[1])
        br
        br
        input.btn(type='submit' value='Modificar')