extends ../layout

block content
    .container.justify-content-center
        h1 Actualizar bicicleta
        br
        br
        form(action='/modules/'+ md.id +'/edit' method="post")
            .row
                .col
                    .form-group 
                        label(for="id") Id
                        input#id.form-control(type="text" name="id" required value = md.id)
                        label(for="model") Model
                        input#model.form-control(type="text" name="model" required value = md.model)
                        label(for="longitude") Longitude
                        input#long.form-control(type="text" name="longitude" required value = md.ubication[1])
                                                                             
                .col        
                    .form-group
                        label(for="color") Color
                        input#color.form-control(type="text" name="color" required value = md.color)       
                        label(for="latitude") Latitude
                        input#lat.form-control(type="text" name="latitude" required value = md.ubication[0])
            br
            input.btn.btn-primary(type="submit" value = "update")
            br
            br
            br
        a(href="/modules") Home