extends ../layout

block content
    .container.mt-5
        .row
            .col-6.mr-5
                table.table
                    thead
                        tr
                            th(scope= 'col')  #
                            th(scope= 'col')  color
                            th(scope= 'col')  model   
                            th(scope= 'col')  ubication
                            th(scope= 'col')
                            th(scope= 'col')
                    tbody
                        each md in mds
                            tr
                                td(scope= 'row')= md.id
                                td(scope= 'row')= md.color
                                td(scope= 'row')= md.model
                                td(scope= 'row')= md.ubication
                                td
                                    a(href='modules/' + md.id + "/edit") Edit
                                td
                                    form.inline(action='/modules/' + md.id + '/delete' method="post")
                                        input(type="hidden" name="id" value=md.id)
                                        button.link-button(type="submit" name="submit_param" value="submit_value" class="btn btn-danger")   
                                            ='delete'   
                .row.justify-content-center.mt-5.mb-5
                    #main_map
            .col-4.ml-5
                .container.justify-content-center
                    h1 Nueva bicicleta
                    br
                    br
                    form(action="/modules/add" method="post")
                        .row
                            .col
                                .form-group 
                                    label(for="id") Id
                                    input#id.form-control(type="text" name="id" required)
                                    label(for="model") Model
                                    input#model.form-control(type="text" name="model" required)
                                    label(for="longitude") Longitude
                                    input#long.form-control(type="text" name="longitude" required)
                                                                             
                            .col        
                                .form-group
                                    label(for="color") Color
                                    input#color.form-control(type="text" name="color" required)       
                                    label(for="latitude") Latitude
                                    input#lat.form-control(type="text" name="latitude" required)
                        br
                        input.btn.btn-primary(type="submit" value = "Add")
                        br
                        br
                        br
                    a(href="/") Home  

    // Bootstrap core JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    // Core theme JS  
    script(src='/javascripts/map.js')             