extends ../layout

block content
  //Titulo
  section.banner-title-section
    .container
      h1.text-white.mb-4.text-uppercase.font-weight-bolder Bicicletas Registradas
      a.btn.btn-primary.js-scroll-trigger.font-weight-bolder(href="/bicycles/create").mb-5 Nueva bicicleta
  //tabla de bicicletas
  section  
    .container
      section.table-responsive-sm
        table.table
          thead
            tr  
              th.text-uppercase(scope='col') #
              th.text-uppercase(scope='col') Color
              th.text-uppercase(scope='col') Modelo
              th.text-uppercase(scope='col') Ubicación
              th.text-uppercase(scope='col')
              th.text-uppercase(scope='col')
          tbody
            each bicycle in bicycles
              tr 
                td(scope='row') 
                  = bicycle.id
                td #{bicycle.color}
                td #{bicycle.model}
                td #{bicycle.location}
                td
                  a.btn.btn-warning.font-weight-bolder(href='bicycles/'+ bicycle.id + '/update') Editar
                td
                  form.inline(method='post' action='bicycles/' + bicycle.id + '/delete')
                    input(type='hidden' name='id' value=bicycle.id)
                    button.btn.btn-danger.link-button.font-weight-bolder(type='submit' name='submit_param' value='submit_value') 
                      = 'Eliminar'
