extends ../layout  

block content
  //Titulo
  section.banner-update-section
    .container
      h1.text-white.mb-4.text-uppercase.font-weight-bolder Actualizar Bicicleta
      a.btn.btn-primary.js-scroll-trigger.font-weight-bolder(href='/bicycles') Página anterior

  //Actualizar Bicicleta
  section
    .container
      br
      form(action=`/bicycles/${bicycle.id}/update` method='post')
        .form-group
          label.font-weight-bolder(for='id') # Id
          input#id.form-control(type='text' name='id' value = bicycle.id)
        .form-group
          label.font-weight-bolder(for='color') Color
          select#color.form-control(type='text' name='color' value = bicycle.color)
            option Seleccione una opción
            option Amarillo
            option Azul
            option Rojo
            option Naranja
            option Verde
        .form-group
          label.font-weight-bolder(for='model') Modelo
          select#model.form-control(type='text' name='model' value = bicycle.model)
            option Seleccione una opción
            option Híbrida
            option Montaña
            option Plegable
            option Ruta
            option Urbana
        .form-group
          label.font-weight-bolder(for='lat') Latitud
          input#lat.form-control(type='text' name='lat' value = bicycle.location[0])
        .form-group
          label.font-weight-bolder(for='lng') Longitud
          input#lng.form-control(type='text' name='lng' value = bicycle.location[1])
        input.font-weight-bolder.btn.btn-primary.js-scroll-trigger(type='submit' value='Actualizar bicicleta')